#app-content-wrapper #app-content{
    height: 100%;
}

#app-actions {
    display: none;
}

#app-navigation {
    width: 0%;
}

#app-content-wrapper #app-content #app-navigation .nav li a {
}

#view-file-loading {
  display: flex;
  justify-content: center;
}

#ts-modal {
    height: 100%
}

#ts-modal .modal-dialog {
  top: 8%;
  width: 55%;
  height: 100%;
  padding: 0px;
  margin: auto;
}

#container {
    width: 95%;
    height: 100%;
    margin: auto;
}

#map{
    width:100%;
    height:100%;
}
.map-view-legend {
    bottom: 85px;
    right: 5px;
    width: 170px;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    color:white;
    background: #286090;
    border: 1px #ddd solid;
    z-index: 999;
}

.modal-body {
    width: 100%;
    border-radius: 0;
}

.download-buttons {
    float: left;
}

.nasaaccess {
    margin-right: 15px;
}

#paramSelect {
    min-width: 100%;
    margin-top: 12px;
}

.input-daterange {
}


#start_pick{
    margin-top: 0px !important;
    font-size: 11px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

#end_pick{
    font-size: 11px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.monthDayToggle {
    margin: auto;
    width: 100%
}

.toggle-group {
    width: 200%
}

.monthDayToggle h6 {
    float: left;
    margin-right: 25%
}

#toggle_switch {
    position: absolute;
    right: 0;
}

#app-navigation {
    padding: 7px;
}

#inner-app-content {
    padding: 0
}

.form-container {
    float: left;
    background-color: rgba(0, 9, 112, .2);
    width: 35%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

.instructions-container {
    background-color: rgba(214, 214, 214, 0);
    height: 100% !important;
    width: 65% !important;
    padding-left: 1% !important;
    padding-top: 1%;
    float: right;
}

input[type="file"] {
    padding: 2%;
    padding-left: 2px !important;
}

input[type="text"] {
    border-radius: 10px;
    margin-right: 50%;
    margin-top: 2%;
}

input[type="submit"] {

}


