#app-content-wrapper #app-content{
    height: 100%;
}

#app-actions {
    display: none;
}

#app-navigation {
    width: 0%;
}

#view-file-loading {
  display: flex;
  justify-content: center;
}
#ts-modal {
    height: 100%
}
#ts-modal .modal-dialog {
  top: 8%;
  width: 55%;
  height: 100%;
  padding: 0px;
  margin: auto;
}

#container {
    width: 95%;
    height: 100%;
    margin: auto;
}

#map{
    width:100%;
    height:100%;
}
.map-view-legend {
    bottom: 85px;
    right: 5px;
    width: 170px;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    color:white;
    background: #286090;
    border: 1px #ddd solid;
    z-index: 999;
}

.modal-body {
    width: 100%;
    border-radius: 0;
}

.download-buttons {
    float: left;
}

#paramSelect {
    min-width: 100%;
    margin-top: 12px;
}

.input-daterange {
    margin-top: 15px;
}


#start_pick{
    font-size: 12px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

#end_pick{
    font-size: 12px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.monthDayToggle {
    margin: auto;
}

#app-navigation {
    padding: 7px;
}

#inner-app-content {
    padding: 0
}


